footer{
    width: 100%;
    background: linear-gradient(to right,#00093c,#2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    line-height: 20px;
    font-size: 13px;
    position: relative;
    bottom: 0;
}
footer .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
footer .col{
    flex-basis: 25%;
    padding: 10px;
}

footer .col .logo{
    width: 80px;
    margin-bottom: 30px;
}
footer .col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
footer .col .email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

footer .col ul li{
    list-style: none;
    margin-bottom: 12px;
}

footer .col ul li a {
    text-decoration: none;
    color: #fff;
}

footer .col form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

footer .col form ion-icon{
    font-size: 18px;
    margin-right: 10px;
}

footer .col form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

footer .col form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

footer .col form button ion-icon{
    font-size: 18px;
    color: #ccc;
}

footer .col .social-icons ion-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;;
    margin-right: 15px;
    cursor: pointer;
}

